:root {
  --font-small: 10px;
  --font-medium: 15px;
  --font-large: 20px;
  --darkgray: rgba(31, 31, 31, 1);
  --lightgray: rgba(211, 211, 211, 1);
  --gray0: rgba(248, 249, 250, 1);
  --gray1: rgba(233, 236, 239, 1);
  --gray2: rgba(222, 226, 230, 1);
  --gray3: rgba(206, 212, 218, 1);
  --gray4: rgba(173, 181, 189, 1);
  --gray5: rgba(108, 117, 125, 1);
  --gray6: rgba(73, 80, 87, 1);
  --gray7: rgba(52, 58, 64, 1);
  --gray8: rgba(33, 37, 41, 1);
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  /*
        Variables
    */

  background: var(--bg);
  color: var(--text);
  padding: 25px 0 0 0;

  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

header {
  margin: 0 0 25px 0;
}

a.logo {
  display: block;
  margin: 0 0 20px 0;
}

a.logo img {
  margin: 0 auto;
}

ul {
  list-style-type: none;
  display: flex;
  text-align: center;
}

ul li {
  margin: 0 25px 25px;
  padding: 5px;
  border: 1px solid;
}

ul li:hover {
  color: var(--fontcolor-hover);
  background: var(--nav-bar);
}

ul li:hover div {
  -webkit-box-shadow: 0px 10px 13px -7px var(--shaddow),
    5px 5px 15px 5px var(--shaddow);
  box-shadow: 0px 10px 13px -7px var(--shaddow), 5px 5px 15px 5px var(--shaddow);
}

main {
  clear: left;
}

main p {
  margin: 0 0 25px 0;
}

.container {
  margin: 0 0 25px 0;
}

.content h2 {
  margin: 0 0 25px 0;
}

.container {
  display: flex;
  height: minmax(420px, 50vh);
  padding: 15px 0 0 0;
  border: 1px, solid var(--lightgray);
  overflow-x: auto;
  overflow-y: hidden;
}

.container section {
  padding: 5px 10px;
  min-width: 320px;
  text-align: center;
}

.container section:hover {
  transform: scale(120%);
  z-index: 10;
}

iframe {
  border: none;
  width: 100%;
}

footer {
  background: var(--footer);
  padding: 15px 0 0 0;
}

footer ul {
  display: flex;
  align-items: center;
}

ul li a {
  color: var(--text);
}

ul li:hover a {
  color: var(--fontcolor-hover);
}

.dark {
  --bg: var(--gray8);
  --text: var(--gray2);
  --nav-bar: var(--gray1);
  --shaddow: var(--gray6);
  --border-nav: var(--gray1);
  --fontcolor-hover: var(--gray8);
  --footer: var(--gray7);
}

.light {
  --bg: var(--gray1);
  --text: var(--gray8);
  --nav-bar: var(--gray7);
  --shaddow: var(--gray4);
  --border-nav: var(--gray7);
  --fontcolor-hover: var(--gray1);
  --footer: var(--gray2);
}

iframe.zoom {
  height: 720px;
}

div.section-zoom {
  width: 80vw;
  padding: 10px;
  margin: 0 auto 25px auto;
  background-color: var(--footer);
}

div.section-zoom h2 {
  margin: 0 0 15px 0;
}
